anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bertopic==0.12.0
bleach==5.0.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.6
commonmark==0.9.1
Cython==0.29.28
dask==2021.9.0
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
distributed==2021.9.0
entrypoints==0.4
fastjsonschema==2.16.2
filelock==3.8.2
fsspec==2022.11.0
gensim==4.2.0
hdbscan==0.8.29
HeapDict==1.0.1
huggingface-hub==0.11.1
idna==3.4
importlib-metadata==5.1.0
importlib-resources==5.10.1
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter-server==1.23.3
jupyter_client==7.4.8
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keybert==0.7.0
llvmlite==0.39.1
locket==1.0.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mistune==2.0.4
msgpack==1.0.4
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
nltk==3.7
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.21.6
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pickleshare==0.7.5
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
plotly==5.11.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
psutil==5.9.4
pycparser==2.21
Pygments==2.13.0
pynndescent==0.5.8
pyparsing==3.0.9
PyPDF2==2.11.2
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
pywin32==305
pywinpty==2.0.9
PyYAML==5.4.1
pyzmq==24.0.1
regex==2022.10.31
requests==2.28.1
rich==12.6.0
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
smart-open==6.2.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tblib==1.7.0
tenacity==8.1.0
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.2
toolz==0.12.0
torch==1.13.0
torchvision==0.14.0
tornado==6.2
tqdm==4.64.1
traitlets==5.6.0
transformers @ git+https://github.com/huggingface/transformers@6c1a0b393101613feea4319684925350848a0274
typing_extensions==4.4.0
umap-learn==0.5.3
urllib3==1.26.13
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==4.0.3
zict==2.2.0
zipp==3.11.0
